{% extends "users/base_site.html" %}
{% block title %}Create New User{% endblock %}
{% block header_title %}Create New User{% endblock %}

{% load static %}

{% block main %}
    <form novalidate method="post">
        {% csrf_token %}
        <fieldset class="form-fields">
            <legend>Create New Post</legend>
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <br>
            <input type="submit" value="Register">
        </fieldset>
    </form>

{% endblock %}
