{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <ul class="horizontal-items">
        <li><a href="/posts/">Main Menu</a></li>
        <li><h3>{% block header_title %}{% endblock %}</h3></li>

    </ul>
</header>

<main>
    {% block main %}

    {% endblock %}
</main>

<footer>
    <ul class="horizontal-items">

        <li>
            <p>Salah Tawafsha &copy 2023</p>
        </li>
        <li>
            <a href="mailto: salaht321@gmail.com" class="contact">Send Feedback</a>
        </li>
    </ul>
</footer>
</body>
</html>
