{% extends "posts/base_site.html" %}
{% block title %}Post Details{% endblock %}
{% block header_title %}Post Details{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'posts/style.css' %}">

{% block main %}
    <h1>{{ post.title }}</h1>
    <h5>By: {{ post.author }}</h5>
    <br>

    <pre>{{ post.body }}</pre>
    <br>
    <details {% if expand_comment %}open{% endif %}>
        <summary>Show Comments</summary>
        <h2>Comments:</h2>
        {% for comment in post.comment_set.all %}
            <div class="comment">
                <strong>{{ comment.user_name }}:</strong>
                <pre>{{ comment.body }}</pre>
            </div>
            <br>
        {% endfor %}

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'comment_action' %}" method="post">
            {% csrf_token %}
            <fieldset class="form-fields">
                <legend>Add Comment</legend>
                <input type="hidden" name="post_id" value="{{ post.id }}" required>

                {{ form.as_div }}

                <input type="submit" value="Create">
            </fieldset>
        </form>
    </details>

{% endblock %}
